* {
  box-sizing: border-box;
}

body {
  font-size: 120%;
  font-family: sans-serif;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:link {
  color: rgb(180, 206, 240);
  text-decoration: none;
}

a:visited {
  color: rgb(151, 128, 199);
}

h1 {
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.zelda-window {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 0 1rem;
  border-radius: 5px;
  margin-left: 1rem;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  outline: 3px solid hsla(0, 0%, 0%, 0.5);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 88%;
  padding-top: 0.5rem;
}
